<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzsrRQ3ldebRDZTCCn6JDbHOq2fyHu78I</string>
	<key>GCM_SENDER_ID</key>
	<string>201122316767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shouper</string>
	<key>PROJECT_ID</key>
	<string>shouper-bf5f2</string>
	<key>STORAGE_BUCKET</key>
	<string>shouper-bf5f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201122316767:ios:be68a16eb3a939f3c1046a</string>
</dict>
</plist>